/*
 * vim: syntax=javascript
 */

{
    /*
    "presets":
    [
        ["latest",
            { "es2015": { loose: true, modules: false} },
        ],
    ],
    */

    "plugins":
    [
        ["transform-es2015-block-scoping"],        /* let */
        ["transform-es2015-constants"],            /* const */
        ["transform-es2015-arrow-functions"],      /* arrow */

        ["transform-es2015-destructuring"],
        ["transform-es2015-template-literals"],    /* `foo${bar}` => "foo" + bar */

        // ["transform-es2015-for-of"],            /* Cannot support array[Symbol.iterator]() */
        ["transform-es2015-classes"],
        ["transform-es2015-shorthand-properties"],
    ],

    "ignore":
    [
        "/JavaScriptCore/stress/resources/",        /* Convert manually */
        "/JavaScriptCore/stress/regress-159779",    /* Too long */
    ],

    "sourceType": "script",
}
