[submodule "test/test262"]
    path = test/test262
    url = git@github.sec.samsung.net:lws-test/test262.git
[submodule "test/test262-master"]
    path = test/test262-master
    url = git@github.sec.samsung.net:lws-test/test262-master.git
[submodule "test/test262-harness-py"]
    path = test/test262-harness-py
    url = git@github.sec.samsung.net:lws-test/test262-harness-py.git
[submodule "test/octane"]
    path = test/octane
    url = git@github.sec.samsung.net:lws-test/octane.git
[submodule "third_party/GCutil"]
    path = third_party/GCutil
    url = https://github.com/pando-project/gcutil.git
[submodule "third_party/checked_arithmetic"]
    path = third_party/checked_arithmetic
    url = https://github.com/pando-submodules/checked_arithmetic.git
[submodule "third_party/double_conversion"]
    path = third_party/double_conversion
    url = https://github.com/pando-submodules/double_conversion.git
[submodule "third_party/rapidjson"]
    path = third_party/rapidjson
    url = https://github.com/pando-submodules/rapidjson.git
[submodule "third_party/yarr"]
    path = third_party/yarr
    url = https://github.com/pando-submodules/yarr.git
[submodule "third_party/windows/icu"]
    path = third_party/windows/icu
    url = https://github.com/pando-submodules/icu.git
[submodule "test/vendortest"]
    path = test/vendortest
    url = https://github.com/pando-tests/js_vendor_tc.git
