[submodule "test/test262"]
    path = test/test262
    url = https://github.com/tc39/test262.git
[submodule "test/test262-master"]
    path = test/test262-master
    url = https://github.com/tc39/test262.git
[submodule "test/test262-harness-py"]
    path = test/test262-harness-py
    url = https://github.com/test262-utils/test262-harness-py
[submodule "test/octane"]
    path = test/octane
    url = https://github.com/chromium/octane.git
[submodule "third_party/GCutil"]
    path = third_party/GCutil
    url = git@github.sec.samsung.net:lws/gcutil.git
[submodule "third_party/checked_arithmetic"]
	path = third_party/checked_arithmetic
	url = git@github.sec.samsung.net:lws-submodules/checked_arithmetic.git
[submodule "third_party/double_conversion"]
	path = third_party/double_conversion
	url = git@github.sec.samsung.net:lws-submodules/double_conversion.git
[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = git@github.sec.samsung.net:lws-submodules/rapidjson.git
[submodule "third_party/yarr"]
	path = third_party/yarr
	url = git@github.sec.samsung.net:lws-submodules/yarr.git
[submodule "third_party/windows/icu"]
	path = third_party/windows/icu
	url = git@github.sec.samsung.net:lws-submodules/icu.git
[submodule "test/vendortest"]
	path = test/vendortest
	url = git@github.sec.samsung.net:lws-test/js_vendor_tc.git
